@charset "UTF-8";

/***************************************
  幅・高さの設定
****************************************/
$smBreakPoint: 575px;
$mdBreakPoint: 767px;
$lBreakPoint: 960px;
$l2BreakPoint: 1150px;
$xlBreakPoint: 1200px;

/***************************************
  ブレークポイント
****************************************/
$breakpoints: (
  "sm": "screen and (max-width: #{$smBreakPoint})",
  "md": "screen and (max-width: #{$mdBreakPoint})",
  "l": "screen and (max-width: #{$lBreakPoint})",
  "l2": "screen and (max-width: #{$l2BreakPoint})",
  "xl": "screen and (max-width: #{$xlBreakPoint})",
);
