@charset "UTF-8";
@import "variable", "mixin", "module", "common", "general";

/***************************************
  ページタイトル
****************************************/
.general-page-title {
  padding-top: 14rem;

  @include media(sm) {
    padding-top: 9rem;
  }
}

.booking-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 90vw;
  max-width: $xlBreakPoint;
  margin: 7rem auto;

  @include media(md) {
    flex-direction: column;
  }

  .start_booking_package {
    flex-grow: 1;

    .booking-package#booking-package {
      background-color: transparent;
    }

    #booking-package_serviceDetails {
      display: none;
      background-color: transparent;

      .title.borderColor {
        font-size: 0;

        &::before {
          font-size: 2.24rem;
          content: "選択されたサービス";
        }
      }
    }

    #booking-package_servicePage {
      width: 100%;
      background-color: transparent;
    }

    #booking-package_servicePage .title {
      background-color: transparent;
    }

    #booking-package_inputFormPanel .name,
    #booking-package_serviceDetails .name,
    #booking-package_myBookingDetailsFroVisitor .name,
    #booking-package_myBookingDetails_panel .name {
      display: none; // サービスの文字列を消す。
    }

    #booking-package_servicePage .selectPanel {
      background-color: transparent;

      @media (hover: hover) {
        &:hover {
          background-color: rgba(195, 195, 195, 0.664);
        }
      }
      @media (hover: none) {
        &:active {
          background-color: rgba(195, 195, 195, 0.664);
        }
      }
    }

    #booking-package_calendarPage {
      background-color: transparent;
    }
  }

  #booking-package_calendarPage .dayPanel:nth-child(-n + 7) {
    background-color: rgba(243, 211, 69, 0.353);
  }
}
