@charset "UTF-8";

/***************************************
  全体
****************************************/
@font-face {
  font-family: Yumin-Thin;
  src: url("../fonts/YUMIN.TTF");
}

@font-face {
  font-family: Yumin-Regular;
  src: url("../fonts/YUMINL.TTF");
}

@font-face {
  font-family: Yumin-Bold;
  src: url("../fonts/YUMINDB.TTF");
}

html {
  font-family: YuMincho, /* Mac用 */ "Yu Mincho", /* Windows用 */ serif;
  font-size: 62.5%;
}

body {
  background-image: url(../img/paper_00087_pr4.jpg);
}

table {
  border-collapse: collapse;
}
