@charset "UTF-8";
@import "variable", "mixin", "module", "common", "general";

/***************************************
  ページタイトル
****************************************/
.general-page-title {
  padding-top: 14rem;

  @include media(sm) {
    padding-top: 9rem;
  }
}

/***************************************
  全体のコンテナ
****************************************/
.blog__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: $xlBreakPoint;
  padding: 0 1.5rem;
  margin: 5rem auto;

  @include media(md) {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}

/***************************************
  左のメイン部分
****************************************/
.blog {
  &__main {
    margin-right: 3rem;

    @include media(md) {
      margin-right: 0;
    }

    &-date {
      font-size: 1.5rem;
    }

    &-title {
      margin: 0.7rem 0;
      font-size: 3rem;
      line-height: 1.3;
    }

    &-image {
      img {
        width: 100%;
        object-fit: contain;
        height: 45rem;
      }
    }

    &-text {
      margin: 2rem 0;
      font-size: 1.5rem;
      line-height: 2.2;
    }

    &-category {
      padding: 2rem 1rem;
      font-size: 1.5rem;
      border-top: 1px solid rgb(139, 139, 139);
      border-bottom: 1px solid rgb(139, 139, 139);
    }

    &-link-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-link-old,
    &-link-new {
      padding: 2rem 1rem;
      font-size: 1.5rem;

      @media (hover: hover) {
        &:hover {
          color: rgb(65, 37, 244);
          cursor: pointer;
        }
      }
      @media (hover: none) {
        &:active {
          color: rgb(65, 37, 244);
          cursor: pointer;
        }
      }
    }
  }
}

/***************************************
  右のサイドバー部分
****************************************/
.blog__sidebar {
  flex-shrink: 0;
  width: 25rem;

  @include media(md) {
    width: 100%;
  }
}

.blog__section {
  margin-top: 4rem;

  &-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
  }

  &-content {
    &-list {
    }

    &-element {
      display: block;
      padding: 1.3rem 1rem;
      font-size: 1.4rem;
      border-top: 1px solid rgb(139, 139, 139);

      & > * {
        @media (hover: hover) {
          &:hover {
            color: rgb(65, 37, 244);
            cursor: pointer;
          }
        }
        @media (hover: none) {
          &:active {
            color: rgb(65, 37, 244);
            cursor: pointer;
          }
        }
      }

      &:last-child {
        border-bottom: 1px solid rgb(139, 139, 139);
      }
    }
  }
}
